@import "./reset.css";
@import "./header.css";

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: blueviolet;
}

.main-section {
  margin-top: 5rem;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  position: relative;
}

.title {
  font-size: 23px;
}

/* .title-center {
  top: -20px;
  left: 46%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 16px;
  color: blueviolet;
} */

.text-and-img {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.description {
  font-size: 16px;
  font-weight: 400;
}

.text-lecture > div {
display: flex;
flex-direction: column;
gap: 32px;

}

mark {
  background-color: #4ade80;
  color: #ffffff;
}

.btn {
  padding: 16px 32px;
  border-radius: 13px;
  background-color: blueviolet;
  cursor: pointer;
  align-self: flex-start;
}

.btn > a {
  color: white;
  font-size: 16px;
}

@media screen and (max-width: 1280px) {
  .container {
    margin: 0 auto;
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    margin: 0 auto;
    max-width: 768px;
  }
}

@media screen and (max-width: 769px) {
  .container {
    margin: 0 auto;
    max-width: 576px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin: 0 auto;
    max-width: 95%;
  }

  .main-section {
    margin-top: 5rem;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
    
  }

  .text-and-img {
    width: 95%;
    grid-auto-flow: row;
  }


}